.footer {
	margin-top: 100px;
	padding: 50px 0;
	color: var(--color-dark);
	background: #fff;

	@include breakpoint($to: mobile) {
		padding: 30px 0;
		margin-top: 50px;
	}

	&__logo {
		width: 128px;
		height: 32px;
		display: block;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;

		@include breakpoint($to: small) {
			flex-direction: column;
			align-items: center;
			gap: 16px;
		}
	}

	&__text {
		color: var(--color-dark);
		font-size: 15px;
	}
}
