.footer {
	padding: 25px 0;
	color: var(--color-dark);
	background: #fff;

	&__logo {
		width: 128px;
		height: 32px;
		display: block;
	}

	&__menu {
		display: flex;
		gap: 23px;
		align-items: center;

		&-link {
			color: var(--color-dark);
			display: inline-block;
			font-weight: 500;
			font-size: 16px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__bottom {
		margin-top: 50px;
		color: #A1A4AA;
		font-size: 14px;
		font-weight: 500;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint($to: mobile) {
			flex-direction: column;
		}

		&-menu {
			display: flex;
			gap: 18px;
			list-style: none;
			align-items: center;
			margin: 0;
		}

		a {
			color: #A1A4AA;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.social {
		display: flex;
		gap: 18px;
		list-style: none;
		align-items: center;

		a {
			display: block;
			line-height: 1;
		}

		svg {
			width: 18px;
			height: 18px;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint($to: mobile) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__text {
		color: #A1A4AA;
		font-size: 14px;
	}
}
