body {
	font-size: 1.6rem;
	line-height: 1.625;
	font-family: $font_family;
	color: var(--color-dark);
	letter-spacing: 0.02em;
}

a {
	text-decoration: none;
	background-color: transparent;
}

p,
ul,
ol {
	margin: 0;
	padding: 0;
	margin-bottom: $spacing-unit * 2;

	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.1;
	margin: 0 0 $spacing-unit;

	&:last-child {
		margin-bottom: 0;
	}

	@include breakpoint($to: mobile) {
		line-height: 1.25
	}
}

.paragraph-large {
	@include fluid-type(320px, 1920px, 16px, 20px);
	line-height: 1.5;
}

.paragraph-medium {
	@include fluid-type(320px, 1920px, 16px, 18px);
	line-height: 1.45;
}


@each $tag, $heading_size in $heading_sizes {
	#{$tag},
	.#{$tag} {
		@include fluid-type($min_width, $max_width, map-get($heading_size, 'min'), map-get($heading_size, 'max'));
	}
}
