.cards {
	margin-top: 100px;

	@include breakpoint($to: mobile) {
		margin-top: 50px;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;

		@include breakpoint($to: desktop) {
			grid-template-columns: 1fr 1fr;
		}

		@include breakpoint($to: mobile) {
			grid-template-columns: 1fr;
		}
	}

	.card {
		padding: 45px;
		background: #FFFFFF;
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.03);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		color: var(--color-dark);
		transition: 0.3s ease-out;

		@include breakpoint($to: small) {
			padding: 30px;
		}

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
		}


		&__logo {
			max-width: 250px;
		}

		&__text {
			margin: 32px 0;
			flex: 1;

			@include breakpoint($to: small) {
				margin: 16px 0;
			}
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}