.details {
	padding: 60px 0;
	background: #F7F8FF;

	@include breakpoint(desktop) {
		padding: 120px 0;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
		margin-top: 30px;

		@include breakpoint(mobile) {
			margin-top: 50px;
			grid-template-columns: 1fr 1fr ;
			gap: 30px;
		}
		@include breakpoint(desktop) {
			margin-top: 80px;
			gap: 80px;
		}
	}

	&-card {
		background: #FFFFFF;
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.03);
		border-radius: 10px;
		padding: 32px 50px;

		@include breakpoint($to: mobile) {
			padding: 32px;
		}

		&__subtitle {
			position: relative;
			margin-bottom: 50px;
			font-weight: 900;

			&:after {
				width: 54px;
				height: 4px;
				background: var(--color-primary);
				content: '';
				position: absolute;
				bottom: -37px;
				left: 0;
				border-radius: 70px 70px 70px 0px;
			}
		}
	}
}