.details {
	padding: 60px 0;
	background: #F7F8FF;

	@include breakpoint(desktop) {
		padding: 120px 0;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
		margin-top: 30px;

		@include breakpoint(mobile) {
			margin-top: 50px;
			grid-template-columns: 1fr 1fr ;
			gap: 30px;
		}
		@include breakpoint(desktop) {
			margin-top: 50px;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 30px;
		}
	}

	&-card {
		background: #FFFFFF;
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.03);
		border-radius: 10px;
		padding: 32px 26px;

		h3 {
			@include fluid-type(320px, 1920px, 25px, 35px);
		}

		&__subtitle {
			position: relative;
			margin-bottom: 50px;
			font-weight: 700;
			letter-spacing: 0.05em;
			text-transform: uppercase;

			&:after {
				width: 100px;
				height: 2px;
				background: var(--color-primary);
				content: '';
				position: absolute;
				bottom: -15px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&__hosts {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;

		@include breakpoint(mobile) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__host {

		&-title {
			margin-bottom: 6px;
		}

		img {
			height: 168px;
			width: auto;
			margin: 14px auto;
			filter: drop-shadow(0px 30px 50px rgba(54, 54, 54, 0.1)) ;
		}
	}

	&__section {
		margin-top: 75px;
	}
}