.image-text {
	position: relative;

	@include breakpoint($to: desktop) {
		padding: 0 0 30px;
	}

	&__image {
		width: 961px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		bottom: 0;
		left: 0;

		@include breakpoint($to: desktop) {
			width: 600px;
			position: relative;
			top: 0;
			transform: none;
		}
	}

	&__text {
		width: 50%;
		margin-left: auto;
		max-width: 517px;
		margin-right: 5%;

		@include breakpoint($to: large) {
			margin-right: 0;
		}

		@include breakpoint($to: desktop) {
			max-width: 600px;
			margin: 0 auto;;
			width: 100%;
		}
	}

	.wrapper {
		z-index: 100;
		display: flex;;
		align-items: center;
		min-height: 600px;

		@include breakpoint($to: desktop) {
			min-height: 0;
			flex-direction: column;
			gap: 20px;
		}
	}
}